/*
    CSS3 Validation Result: No errors
*/

* {
    font-family: UbuntuL;
}

body {
    background: #222;
    padding: 0px;
    margin: 0px;
    font-size: 62.5%;
    overflow: hidden;
}

#setup {
    background: #000;
    position: fixed;
    z-index: 999999;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: visible;
    overflow-y: auto;
    text-align: center;
    display: table;
}

#setup * {
    font-family: UbuntuL;
}

#setup #landing {
    text-align: center;
}

#setup div.q {
    display: table-cell;
    vertical-align: middle;
    width: 80vw;
    height: 100%;
}

#setup h1 {
    font-size: 5vh;
    color: #fff;
    padding: 0.5rem;
    margin: 0;
    text-transform: uppercase;
}

#setup img#logo {
    display: block;
    width: 70vw;
    max-width: 300px;
    margin: 0 auto;
    clear: both;
}

#setup input[type="button"] {
    width: 50vw;
    max-width: 200px;
    height: 45px;
    font-size: 1.5rem;
    padding: 0.5rem;
}

form#gateform {
    height: 70%;
    overflow: auto;
}

form#gateform div {
    text-align: center;
    margin: 0 auto;
    padding: 1rem;
}

form#gateform div.choice:nth-of-type(odd) {
    background: #222;
    color: #000;
}

form#gateform div.choice:nth-of-type(even) {
    background: #000;
}

form#gateform div#space {
    height: 3rem;
}

form#gateform img {
    border: 3px solid #fff;
    margin: 0 auto;
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 90%;
    max-width: 400px;
    border-radius: 1rem;
}

.radio-custom {
    opacity: 0;
    position: absolute;
}

.radio-custom,
.radio-custom-label {
    display: block;
    margin: 5px;
    cursor: pointer;
}

.radio-custom-label {
    position: relative;
    font-size: 1.8rem;
    color: #fff;
    text-transform: uppercase;
}

.radio-custom-label span {
    margin: 0.5rem;
}

.radio-custom + .radio-custom-label:before {
    content: "";
    background: #fff;
    border: 2px solid #fff;
    display: inline-block;
    vertical-align: middle;
    width: 20px;
    height: 20px;
    padding: 2px;
    margin-right: 10px;
    margin-bottom: 5px;
    text-align: center;
}

.radio-custom + .radio-custom-label:before {
    border-radius: 50%;
}

.radio-custom:checked + .radio-custom-label:before {
    background: #333;
    box-shadow: inset 0px 0px 0px 4px #fff;
}
.radio-custom:focus + .radio-custom-label {
    outline: 1px solid #ddd;
}

#bar {
    background: #fff;
    opacity: 0.9;
    width: 100%;
    height: 1.8rem;
    position: fixed;
    top: 0px;
    left: 0px;
    padding: 0.3rem;
    z-index: 100;
}
#bar input[type="image"] {
    margin: 0 0.2rem 0 0.2rem;
    padding: 0;
    max-height: 2.4rem;
    max-width: 2.4rem;
}

#bar input[type="image"]#github {
    position: absolute;
    right: 20px;
}

#bar input[type="text"] {
    background: #222;
    border: none;
    position: relative;
    top: -0.5rem;
    margin: 0 0.2rem 0 0.2rem;
    padding: 0;
    width: 2.5rem;
    height: 1rem;
    padding: 0.25rem;
    text-align: center;
    color: #fff;
    border-radius: 2rem;
    font-size: 0.9rem;
    letter-spacing: 1px;
}

#options select:disabled {
    background: #ddd;
}

#options input[type="button"] {
    font-size: 1.1rem;
    margin: 0.5rem auto;
}

#mapcontainer {
    padding: 0px;
    width: 768px;
    height: 1024px;
    margin: 0 auto;
}

div#options {
    background: #fff;
    display: none;
    position: fixed;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    min-width: 280px;
    min-height: 275px;
    opacity: 0.9;
    z-index: 500;
    text-align: center;
    color: #000;
    box-shadow: 0 0 0 5px #000;
    padding: 10px;
    margin: auto;
    border-radius: 0.5rem;
}

div#options form {
    height: 100%;
}

div#options div#cboxcontainer {
    text-align: left;
    width: 50%;
    margin: 0 auto;
    padding: 0.5rem;
}

div#options .twocolumns {
    margin-top: 0rem;
}

div#options .twocolumns .clear {
    display: block;
    clear: both;
}

div#options .twocolumns .first {
    width: 20%;
    float: left;
}

div#options .twocolumns .second {
    width: 65%;
    float: left;
    margin-left: 0.5rem;
}

div#options .twocolumns .first.lbl {
    width: 60%;
}

div#options .twocolumns .second.chk {
    width: 10%;
    float: left;
    margin-top: 0.25rem;
}

.checkbox-custom {
    opacity: 0;
    position: absolute;
}

.checkbox-custom,
.checkbox-custom-label {
    display: inline-block;
    vertical-align: middle;
    margin: 0.5rem;
    cursor: pointer;
}

.checkbox-custom-label {
    position: relative;
    font-size: 1.2rem;
    margin: 0;
}

.checkbox-custom + .checkbox-custom-label:before {
    content: "";
    background: #fff;
    border: 0.1rem solid #ccc;
    display: inline-block;
    vertical-align: middle;
    width: 0.5rem;
    height: 0.5rem;
    padding: 0.2rem;
    margin-right: 1rem;
    text-align: center;
}

.checkbox-custom:checked + .checkbox-custom-label:before {
    background: #222;
    box-shadow: inset 0px 0px 0px 2px #fff;
}

.checkbox-custom:focus + .checkbox-custom-label {
    outline: 1px solid #ddd; /* focus style */
}

div#options h2.main {
    margin: 0;
    padding: 0.2rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

div#options h3 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: right;
    height: 1.5rem;
}

div#options select {
    margin: -0.1rem 0.2rem 0.2rem 0.2rem;
    padding: 0.2rem;
    width: 100%;
    height: 1.8rem;
    font-size: 1.1rem;
}

div#details {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    width: 70vw;
    height: 50vh;
    margin-left: -35vw;
    margin-top: -25vh;
    background: #fff;
    opacity: 1;
    z-index: 1000;
    text-align: center;
    color: #000;
    box-shadow: 0 0 0 5px #000;
    border-radius: 0.5rem;
}

div#details.point {
    width: 70vw;
    height: 60vh;
    margin-left: -35vw;
    margin-top: -25vh;
}

#details input[type="button"] {
    font-size: 1.1rem;
    margin: 0.5rem auto;
}

input[type="button"] {
    width: 5rem;
    height: 1.5rem;
    background: #000;
    border: 3px solid #222;
    color: #fff;
    transition: all ease 0.5s;
    font-weight: bold;
    margin: 0.5rem;
    border-radius: 0.25rem;
}

input[type="button"]:hover {
    background: #ddd;
    color: #000;
}

input.edit,
input.save {
    margin: 0.2rem 0 0 0;
}

div#details h1 {
    font-size: 1.5rem;
    padding: 0.5rem 0 0 0;
    margin: 0;
    text-transform: uppercase;
    font-weight: bold;
}

div#details h3.entry {
    font-size: 1.2rem;
    margin: 10% 0% 10% 0%;
    text-transform: uppercase;
    font-weight: bold;
}

div#details #content {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    overflow-y: auto;
}

div#details p {
    padding: 0.25rem;
    margin: 0;
    text-align: center;
    font-size: 1.3rem;
    font-weight: bold;
}

div#details p.list {
    margin: 0.1rem;
}

div#details #textcontainer {
    display: none;
    height: 70%;
}

div#details textarea {
    font-size: 1.2rem;
    color: #fff;
    clear: both;
    margin: 0 auto;
    width: 85%;
    margin-top: 0.5rem;
    padding: 0.5rem;
    resize: none;
    display: block;
    height: 60%;
}

div#details textarea.desc {
    height: 30%;
}

div#details textarea.note {
    height: 30%;
    background: #222;
    border: 1px #999 dashed;
}

div#details textarea:disabled {
    background: transparent;
    color: #000;
}
