html {

}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

svg {
  	zoom: 100%;
	width: 1000px; 
	height: 600px;
	background: url(sample.svg) center center no-repeat scroll; background-size: contain;
	margin: 0 auto;
}

div#zoom {
	position: fixed;
	top: 2vh;
	left: 2vw;
}

div#container {
	background: #eee;
	width: 80vw;
	height: 75vh;
	margin: 20px auto;
	padding: 10px;
	overflow: auto;
}